/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}


/*
 * Main content
 */

@media (min-width: 768px) {
    .main, #register-main, #view-all-users-main {
        left: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #e5e5e5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #777777;
    display: block;
    font-size: 22.5px;
    line-height: inherit;
    margin-bottom: 21px;
    padding: 0;
    width: 100%;
}*/

/*
 * Panel
 */

.panel {
    margin-top: 20px;
}

.panel-body-chart{
    overflow: auto;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*
 * Tables
 */

table:not(.dashboard-table) tbody tr:hover {
    color: green;
    cursor: pointer;
}

.table-options {
    margin-right: 5px;
    margin-bottom: 10px;
}

.table-list {
    margin-bottom: 100px;
}

/*
 * Animations
 */

#loadingSpinner {
    position: relative;
    margin: 0 auto;
    top: -50%;
    width: 200px;
    height: 19px;
    z-index: 9999;
    background: #fff;
}

.progress {
    position: relative;
    top: 10px;
    margin-bottom: 0px;
}

/*
 * Others
 */

.trash, .cog {
    position:absolute;
    margin-top: 8px;
    margin-right: 6px;
    top:0;
    right:0;
    line-height: 12px;
    color: #777777;
}

#review-main .trash {
    position:absolute;
    margin-top: 6px;
    margin-right: 25px;
    top:0;
    right:0;
    line-height: 12px;
    color: #777777;
}

.nested-block {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f7f7f8;
    border-color: #eee #eee #eee #d4d5d9;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 5px 0 10px 0px;
    padding: 10px 30px 20px 20px;
    position: relative;
}

#dashboard-main .nested-block {
    padding: 10px 10px 10px 10px;
}


.respond legend {
    font-size: 18.5px;
}

.header-icon {
    float:left;
    min-width: 64px;
    padding-right: 15px;
}

.review-testers {
    vertical-align: top;
    display: inline-block;
    width: 80px;
}
.review-testers img {
    width: 32px;
    height: 32px;
}
.review-testers .caption {
    display: block;
}

/*
 * BUTTONS
 */
.btn-custom {
    background: #808080;
    color: #ffffff;
}